@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  html {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 16px;
    background: #000;
  }
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #f29f05;
  background-image: -webkit-linear-gradient(
    45deg,
    #f2cb05 25%,
    transparent 25%,
    transparent 50%,
    #f2cb05 50%,
    #f2cb05 75%,
    transparent 75%,
    transparent
  );
}

body {
  overflow-x: hidden;
  top: 0;
  left: 0;
  @apply m-0 leading-[normal];
}
*,
::before,
::after {
  border-width: 0;
  box-sizing: border-box;
}

.sticky-nav {
  animation: sticky-nav 300ms cubic-bezier(0.7, 0, 0.2, 1);
}

@keyframes sticky-nav {
  0% {
    transform: translateY(-6em);
  }

  100% {
    transform: translateY(0);
  }
}
#outline-title {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.button-animate:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  transition: all 0.25s cubic-bezier(0.7, 0, 0.2, 1);
}
.button-animate:hover {
  color: #000;
  transform: scale(1.1);
}

.button-animate:hover:after {
  width: 100%;
}
.button-animate span {
  position: relative;
  z-index: 2;
}
.button-animate {
  overflow: hidden;
  display: block;
  text-align: center;
  position: relative;
  transition: all 0.25s cubic-bezier(0.7, 0, 0.2, 1);
}

/* title animation */
.text-animate {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.text-animate > span {
  display: inline-block;
  position: relative;
  animation: textFadeIn 750ms ease-in-out forwards;
  transform: translate(0, 100%);
}

.text-animate > span:nth-child(2) {
  animation-delay: 150ms;
}
.text-animate > span:nth-child(3) {
  animation-delay: 300ms;
}
.text-animate > span:nth-child(4) {
  animation-delay: 450ms;
}
.text-animate > span:nth-child(5) {
  animation-delay: 600ms;
}
.text-animate > span:nth-child(6) {
  animation-delay: 750ms;
}
.text-animate > span:nth-child(7) {
  animation-delay: 900ms;
}

@keyframes textFadeIn {
  0% {
    transform: translateY(100%) rotate(5deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#backdrop-grayscale {
  backdrop-filter: grayscale(100%);
}
input[type='radio'] {
  display: block;
  position: relative;
  top: 45%;
  transform: translate(0, -50%);
  height: 20px;
  width: 20px;
  border: solid #277365 1px;
  border-radius: 25%;
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  display: grid;
  place-content: center;
}

input[type='radio']::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 25%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 5rem 5rem #277365;
}

input[type='radio']:checked::before {
  transform: scale(1);
}

.viewHide {
  position: relative;
  overflow: hidden;
}
.viewHide > * {
  position: relative;
  opacity: -1;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.2, 1);
}

.show > * {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.viewHide > *:nth-child(2) {
  transition-delay: 150ms;
}
.viewHide > *:nth-child(3) {
  transition-delay: 300ms;
}
.viewHide > *:nth-child(4) {
  transition-delay: 450ms;
}
.viewHide > *:nth-child(5) {
  transition-delay: 600ms;
}
.viewHide > *:nth-child(6) {
  transition-delay: 750ms;
}
.viewHide > *:nth-child(7) {
  transition-delay: 900ms;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
